mixin pagination
  .pagination&attributes(attributes)
    .pagination__counts
      strong.js-pagination-count-start 0
      span -
      strong.js-pagination-count-end 0
      span(data-lang="of")
      strong.js-pagination-all 0
    .pagination__arrows
      button(aria-label="Pagination start").pagination__button.pagination__button--disabled.js-pagination-start
        i.fa.fa-angle-double-left
      button(aria-label="Pagination prev").pagination__button.pagination__button--disabled.js-pagination-prev
        i.fa.fa-angle-left
      button(aria-label="Pagination next").pagination__button.pagination__button--disabled.js-pagination-next
        i.fa.fa-angle-right
      button(aria-label="Pagination end").pagination__button.pagination__button--disabled.js-pagination-end
        i.fa.fa-angle-double-right
