---
title: Backofice
lang: en
---
extends layouts/_layout

block content
  main.main
    .paper
      .paper__heaadline
        h5 User Profile
      hr.paper__hr
      .paper__body
        form.paper__form
          +field('Id')(type="text" value='1316' readonly='true')
          +select('User type', [
            {
              value: 0,
              text: 'Type 1'
            },
            {
              value: 1,
              text: 'Type 2'
            },
          ])
          +field('Username or email')(type="text" value='manager' readonly='true')
          +field('Old Password', 'field--password')(type="password" required="true")
          +field('New Password', 'field--password')(type="password" required="true")
          +field('Confirm Password', 'field--password')(type="password" required="true")
          .paper__block.u-text-right
            +button('Save')(type="button").button--primary
            +button('Cancel')(type="reset").button--default.u-ml-16

  script(src="./js/app.js")
