---
title: Backofice
lang: en
---
extends layouts/_layout

block content
  main.main
    .paper
      .paper__heaadline
        h5 Transfer search
      hr.paper__hr
      .paper__body
        form.paper__form
          .paper__row.paper__row--2
            +select('Agent', [
              {
                value: 0,
                text: 'Type 1'
              },
              {
                value: 1,
                text: 'Type 2'
              },
            ])
            +select('Type', [
              {
                value: 0,
                text: 'Type 1'
              },
              {
                value: 1,
                text: 'Type 2'
              },
            ])
          +field('Target')(type="text" required="")
          .paper__row.paper__row--2
            +field('Date from', 'field--fixed')(type="date" required="")
            +field('Date to', 'field--fixed')(type="date" required="")
          .paper__row.paper__row--3
            +select('Currency', [
              {
                value: 0,
                text: 'Type 1'
              },
              {
                value: 1,
                text: 'Type 2'
              },
            ])
            +field('Amount from')(type="number" required="")
            +field('Amount to')(type="number" required="")
          .paper__block.u-text-right
            +button('Save')(type="button").button--primary
            +button('Cancel')(type="reset").button--default.u-ml-16
