---
title: Backofice
lang: en
---
extends layouts/_layout

block content
  main.main
    .paper
      .paper__headline.paper__headline--wide
        h5 Transfer search
      hr.paper__hr
      .paper__body
        form.paper__form.js-form-transfer-search
          .paper__row.paper__row--2
            .dropdown.dropdown--lg.js-dropdown.js-select-agent
              .dropdown__label Agent
              .dropdown__selected(data-value='0').js-dropdown-selected
                span All
                .dropdown__icon.js-dropdown-icon
              .dropdown__list.js-dropdown-list
                a.dropdown__link.dropdown__link--active(data-value='0').js-dropdown-link All

            +select('Type', [
              {
                value: 0,
                text: 'Selected'
              },
              {
                value: 1,
                text: 'To agent'
              },
              {
                value: 2,
                text: 'From agent'
              },
              {
                value: 3,
                text: 'To shop'
              },
              {
                value: 4,
                text: 'From shop'
              },
              {
                value: 5,
                text: 'Commission to agent'
              },
              {
                value: 6,
                text: 'Commission to shop'
              },
              {
                value: 7,
                text: 'Cash-in'
              },
              {
                value: 8,
                text: 'Cash-out'
              },
            ])(name="type")
          +field('Target')(type="text" required name="target")
          .paper__row.paper__row--2
            +field('Date from')(type="date" name="date-from")
            +field('Date to')(type="date" name="date-to")
          .paper__row.paper__row--3
            +select('Currency', [])(name="currency").js-select-currency
            +field('Amount from')(type="number" name="amount-from")
            +field('Amount to')(type="number" name="amount-to")
          .paper__block.u-text-right
            +button('Save')(type="submit").button--primary
            +button('Cancel')(type="reset").button--default.u-ml-16

block script
  script.
    loader()

    const renderDropdownOptions = (data, $parent) => {
      const $group = $('<div class="dropdown__group js-dropdown-group">');

      data.forEach(function (item) {
        const $option = $('<a class="dropdown__link js-dropdown-link">');
        const $newGroup = $('<div class="dropdown__group js-dropdown-group">');
        $option.text(item.username)
        $option.attr('data-value', item.id)

        if (item.clients && item.clients.length > 0) {
          renderDropdownOptions(item.clients, $newGroup);
        }

        $group.append($option);
        $group.append($newGroup);
      });

      $parent.append($group);
    }

    base.sendFormData(
      null,
      `${base.base}tree/`,
      'GET',
      (response) => {
        if (response) {
          const $select = $('.js-select-agent .js-dropdown-list')
          renderDropdownOptions(response, $select, 0);
        }
      }, function (xhr, status, error) {
        console.error(error);
      },
      {
        async: false
      })

    base.sendFormData(
      null,
      `${base.base}currencies/`,
      'GET',
      (response) => {
        if (response) {
          response.data.forEach(function (item, index) {
            const $option = $('<option>', {
              text: item,
              value: item
            })

            $option.appendTo($('.js-select-currency'))

            loader()
          })
        }
      }, function (xhr, status, error) {
        console.error(error);
      },
      {
        async: false
      })

    $('.js-form-transfer-search').on('submit', function(e) {
      e.preventDefault()
      const formData = new FormData(e.target);
      formData.append('agent', $('.js-select-agent .js-dropdown-selected').attr('data-value'))

      base.sendFormData(
        formData,
        `${base.base}/../`,
        'POST',
        (response) => {
          if (response) {
            console.log(response)
          }
        }, function (xhr, status, error) {
          console.error(error);
        },
        {
          async: false
        })
    })
