mixin header
  header.header&attributes(attributes)
    .preview
      h6.preview__title(data-lang="title")
      .preview__time.js-preview-time

    .dropdown.dropdown--white.js-dropdown.js-select-language
      .dropdown__selected.js-dropdown-selected
        span
        .dropdown__icon.js-dropdown-icon
      .dropdown__list.js-dropdown-list
        a(data-value="ua").dropdown__link.js-dropdown-link UA
        a(data-value="en").dropdown__link.js-dropdown-link EN

    .account
      .account__icon.js-account-icon
        svg(viewbox='0 0 24 24' aria-hidden='true')
          path(d='M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z')
      .account__dropdown.js-account-dropdown
        .account__item
          span id:
            strong 13
          span user@gmail.com
        a(href="./profile.html" data-lang="account_link_1").account__link
        a(href="#" data-lang="account_link_2").account__link
