@use 'src/scss/config' as *;

.table {
  width: 100%;
  font-size: rem(14px);

  &--tickets {

    .table {

      &__row {
        grid-template-columns: repeat(10, 1fr);
      }

      &__cell {

        &:nth-child(5) {
          @include make-spacer(py, 0);
        }
      }
    }
  }

  &--group {

    .table {

      &__row {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  &--bets {

    .table {

      &__row {
        grid-template-columns: 1.5fr repeat(3, 1fr) rem(150px) 2fr rem(200px);
      }
    }
  }

  &__row {
    display: grid;
    border-bottom: rem(1px) solid var(--color-border);

    &:first-child {
      font-weight: var(--typography-medium);
    }

    &--disabled {
      opacity: 0.7;
    }

    &--wide {
      grid-template-columns: 1fr!important;
    }

    &--primary-alpha-05 {
      background-color: rgba(#2B73B3, 0.5);
    }

    &--primary-alpha-01 {
      background-color: rgba(#2B73B3, 0.1);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__cell {
    @include flex(null, center, null, wrap);
    @include make-spacer(px, 16px);
    @include make-spacer(py, 12px);
  }
}
