@use 'src/scss/config' as *;

.table {
  //display: table;
  //border-spacing: 0;
  //border-collapse: collapse;
  width: 100%;
  font-size: rem(14px);

  &__row {
    @include flex;
    //display: grid;
    //grid-template-columns: repeat(8, 1fr);
    //display: table-row;
    //outline: 0;
    //vertical-align: middle;
    border-bottom: rem(1px) solid var(--color-border);

    &--disabled {
      opacity: 0.7;
    }

    &--primary-alpha-05 {
      background-color: rgba(#2B73B3, 0.5);
    }

    &--primary-alpha-01 {
      background-color: rgba(#2B73B3, 0.1);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__cell {
    @include flex(null, center, null, wrap);
    @include make-spacer(px, 16px);
    @include make-spacer(py, 12px);

    flex: 1;
    //display: table-cell;
    //vertical-align: inherit;

    //border: 1px solid red;
  }

  &__list {
    @include make-spacer(mb, 10px);
    @include transition(all);

    width: 100%;

    &--hidden {
      @include line-clamp(2);
    }
  }

  &__link {
    color: var(--color-primary);
  }

  &__button {
    @include flex(null, center);
  }
}
