@use 'src/scss/config' as *;

.paper {
  @include make-spacer(p, 16px);

  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  background-color: var(--color-white);
  max-width: 50%;

  &__hr {
    @include make-spacer(my, 24px);
  }

  &__form {
    display: grid;
    gap: rem(16px);
  }

  &__headline {
    display: grid;
    grid-template-columns: 1fr rem(200px);
    align-items: center;

    &--wide {
      grid-template-columns: 1fr;
    }
  }

  &__row {
    display: grid;
    column-gap: rem(16px);

    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &--4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--wide {
    max-width: 100%;
  }

  &--transparent {
    background-color: transparent;
    box-shadow: unset;
    border-radius: unset;
  }
}
