mixin aside
  aside.aside&attributes(attributes)
    .aside__wrapper
      .paper.paper--wide.paper--transparent
        h5.paper__heaadline.js-paper-title
        hr.paper__hr
        .paper__body
          form.paper__form.js-paper-form
