@use 'src/scss/config' as *;

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: $z-index-10;
  background-color: var(--color-white);
  border-right: rem(1px) solid var(--color-border);
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  width: rem(56px);
  overflow: hidden;
  //width: rem(240px);

  &:hover {
    width: rem(256px);
  }

  &__wrapper {
    width: rem(256px);
  }

  &__logo {
    @include size(100%, rem(56px));
  }

  &__link {
    @include make-spacer(px, 16px);

    display: grid;
    grid-template-columns: rem(26px) 1fr rem(10px);
    column-gap: rem(14px);
    align-items: center;
    height: rem(48px);

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &--active {

      .nav {

        &__arrow {
          transform: rotateZ(180deg);
        }
      }
    }
  }

  &__icon {
    text-align: center;
  }

  &__arrow {
    @include transition(transform, 0.3s);

    text-align: right;
  }

  .submenu {
    display: none;

    &__item {
      @include make-spacer(pl, 56px);
      @include flex(null, center);

      height: rem(36px);
      font-size: rem(14px);

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
}
