@use 'src/scss/config' as *;

.dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-11;
  background-color: rgba(255, 255, 255, 0.8);

  &__wrapper {
    @include make-spacer(p, 20px);

    max-width: rem(500px);
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
  }

  &__body {
    @include make-spacer(py, 20px);
  }

  &__header {
    border-bottom: rem(1px) solid var(--color-border);
  }

  &--active {
    @include flex(center, center);
  }
}
