title= title

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Template")
meta(name="keywords" content="Keywords")
link(rel="canonical" href="https://site.com/")

script(src="https://code.jquery.com/jquery-3.7.1.min.js")
script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
script(src="https://printjs-4de6.kxcdn.com/print.min.js")

link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
link(href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet")

link(href="./css/app.css" rel="stylesheet" )

//include ../partials/_favicons
