include ../components/index
include ../sections/index
include ../partials/index

doctype html
html(lang="en")
  head
    include _head
  body
    +header#header
    +nav#nav
    +aside#aside
    block content

    script(src="./js/app.js")
