@use 'src/scss/config' as *;

.select {
  position: relative;
  width: 100%;

  &__label {
    @include make-spacer(px, 4px);

    pointer-events: none;
    position: absolute;
    top: rem(-8px);
    left: rem(16px);
    background-color: var(--color-white);
    z-index: 1;
    color: var(--color-text);
    font-size: rem(12px);
  }

  &--sm {

    .select2 {

      .select2-container--default,
      .select2-selection--single,
      .select2-selection--multiple {
        @include make-spacer(px, 8px);

        height: rem(46px);
        font-size: rem(12px);

        .select2-selection {

          &__arrow {
            width: rem(36px);
          }
        }
      }
    }
  }
}

.select2 {
  width: 100%!important;

  .select2-container--default,
  .select2-selection--single,
  .select2-selection--multiple {
    @include flex(null, center);
    @include make-spacer(py, 0);
    @include make-spacer(px, 16px);

    border-color: var(--color-border);
    border-radius: var(--default-border-radius);
    height: rem(56px);

    .select2-selection {

      &__arrow {
        @include size(rem(56px), 100%);
        @include flex(center, center);
        @include transition;

        top: 0;
        bottom: 0;

        b {
          @include make-spacer(m, 0);
          @include size(rem(24px));
          @include transition;

          position: static;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.7' fill='%23000000' width='800px' height='800px' viewBox='-8.5 0 32 32' version='1.1'%3E%3Ctitle%3Eangle-down%3C/title%3E%3Cpath d='M7.28 20.040c-0.24 0-0.44-0.080-0.6-0.24l-6.44-6.44c-0.32-0.32-0.32-0.84 0-1.2 0.32-0.32 0.84-0.32 1.2 0l5.84 5.84 5.84-5.84c0.32-0.32 0.84-0.32 1.2 0 0.32 0.32 0.32 0.84 0 1.2l-6.44 6.44c-0.16 0.16-0.4 0.24-0.6 0.24z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: rem(24px);
          border: 0;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
    }
  }

  .select2-selection--multiple {
    @include make-spacer(pl, 6px);

    .select2-search--inline {
      @include make-spacer(ml, 10px)
    }
  }

  .select2-container--default,
  .select2-selection--single {

    .select2-selection__rendered {
      @include make-spacer(pl, 0);
    }
  }
}

.select2-container--default {

  &.select2-container--focus .select2-selection--multiple {
    border-color: var(--color-primary);
  }

  &.select2-container {

    &--open {

      .select2-selection {

        &__arrow {

          b {
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }

  .select2-selection {

    &--multiple {

      .select2-selection {

        &__rendered {
          @include make-spacer(pl, 4px);
          @include flex(null, center, null, wrap);
        }

        &__choice {
          @include flex(null, center);

          border-color: var(--color-border);
          background: transparent;
          border-radius: var(--default-border-radius);

          &__display {
            @include make-spacer(pl, 0);

            font-size: rem(14px);
          }

          &__remove {
            top: 50%;
            transform: translateY(-50%);
            border: 0;
            width: rem(20px);

            &:hover {
              background: transparent;
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }

  .select2-search {

    &--dropdown {
      @include make-spacer(p, 8px);

      .select2-search {

        &__field {
          border-color: var(--color-border);
          border-radius: var(--default-border-radius);
          line-height: var(--line-height);
          color: var(--color-text);
          font-family: var(--font-family);
          font-size: var(--font-size);
          font-weight: var(--typography-thin);

          &:focus {
            border-color: var(--color-primary);
            outline: none;
          }
        }
      }
    }
  }

  .select2-results {

    &__option {
      font-size: rem(14px);

      &--selected {
        background-color: rgba(0, 0, 0, 0.04);
      }

      &--highlighted {

        &.select2-results__option--selectable {
          background: var(--color-primary);
        }

        &--selected {
          background: var(--color-border);
        }
      }
    }
  }
}

.select2-container .select2-search--inline .select2-search__field {
  margin: 0;
  height: 22px;
  line-height: var(--line-height);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-thin);
}

.select2-results {

  &__option {

    &--selectable {
      @include transition;
      @include make-spacer(px, 16px);
    }
  }
}

.select2-dropdown {
  border-color: var(--color-border);

  &--below {
    overflow-y: hidden;
  }
}
